body {
	background-color: #FFFEFF;
	font-family: 'Allura', cursive;
}

.container {
	text-align: center;
}

.border {
	margin: 25px 0;
	border: 1px solid #7F6E7F;
	border-radius: 20px;
	background-color: #EDEBD7;
}

#title {
	text-align: center;
	font-size: 75px;
	margin: 20px auto;
	background-color: #EDEBD7;
	width: 50%;
	border: 1px solid #7F6E7F;
	border-radius: 10px;
}

h2 {
	font-size: 40px;
}

h3 {
	padding: 0;
	margin: 5px;
}

button {
	font-size: 30px;
	background-color: #FFC2D1;
/*	border-radius: 10px;
*/}